src/releases/*
*target*
*lib*
*.class
*classes*
*.classpath
*.project
*.buildpath
*bin
*.jar
*nbproject
*build
*dist
*gwt
*.settings
*.settings*
*.classpath
*.project
*.dvi
*.aux
*.out
*.log
*.toc
*.ps
*.bbl
*.blg
*.swp
*.lol
*.lof
*.bak
src/searcher/src/main/resources/codesearch_config.xml
*.launch
src/searcher/src/main/webapp/META-INF/maven
src/searcher/src/main/webapp/WEB-INF/deploy
src/searcher/src/main/webapp/searcher
