*
{
    font: 16px Verdana, Arial, sans-serif;
    color: white;
}


html
{
    overflow-y: scroll;
    background: url("img/bg.jpg") top left repeat-x;
}

body
{
    padding: 0;
    margin: 5px auto 0px auto;
    font-family: sans-serif;
    max-width: 1024px;
    min-width: 700px;
}

h1
{
    font-size: 1.3em;
    font-weight: bold;
}

h2
{
    font-size: 1.2em;
}

h3
{
    font-size: 1.1em;
}

#header
{
    width: 100%;
}

#logo
{
    background: url("img/codesearch_header_logo.png") no-repeat;
    height: 85px;
    margin: 0;
}

#menu
{
    display: block;
    width: 100%;
    list-style: none;
    padding: 0;
    font-size: 1.2em;
}

#menu li
{
    display: inline-block;
}

#menu li a
{
    width: 100%;
    padding: 0.3em 1em;
    border-right: 1px solid #BBBBBB;
    text-decoration: none;
    font-weight: bold;
}

#menu li:first-child a
{
    padding-left: 0em;
}

#menu li:last-child a
{
    border-right: none;
}

#menu li a:hover
{
    color: #0081FF;
}

#content
{
    padding: 1em 1em 1em 0em;
    width: 100%;
}

.news-header
{
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

.news-date
{
    float:right;
    font-style: italic;
}

.news-title
{
}
