<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2010 David Froehlich   <david.froehlich@businesssoftware.at>,
                   Samuel Kogler     <samuel.kogler@gmail.com>,
                   Stephan Stiboller <stistc06@htlkaindorf.at>

    This file is part of Codesearch.

    Codesearch is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Codesearch is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Codesearch.  If not, see <http://www.gnu.org/licenses/>.

-->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <display-name>Codesearch Searcher</display-name>
    <welcome-file-list>
        <welcome-file>Searcher.html</welcome-file>
    </welcome-file-list>
    <!-- PARAMS -->
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>classpath:log4j.properties</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:org/codesearch/commons/CommonsBeans.xml classpath:org/codesearch/searcher/SearcherBeans.xml</param-value>
    </context-param>
    <!-- LISTENERS -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
    <!-- SERVLETS -->
    <servlet>
        <servlet-name>searcherservice</servlet-name>
        <servlet-class>org.codesearch.searcher.server.rpc.SearcherServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searcherservice</servlet-name>
        <url-pattern>/searcher/searcherservice</url-pattern>
    </servlet-mapping>
</web-app>
